

html, body {
    margin: 0;
    padding: 0
}

page {
    background-color: #f8f8f8;
    height: 100%;
    font-size: 32px;
    line-height: 1.6;
}

/* page */
.container {
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    font-size: 32px;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  }

